<div class="comment-container container shadow p-3 mb-5 rounded">
    <div class="row">
    <h4 class="col username">Username</h4>
    <p class="col timestamp">Timestamp</p>
    </div>
    <div class="row">
    <p class="text comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis quae, asperiores delectus omnis voluptate quibusdam. Officia minima provident fugit voluptatum sit impedit soluta obcaecati. Saepe dicta cumque totam accusamus officiis.</p>
    </div>
    <div class="row">
        <p class="col listen-count">Listen Count: [count]</p>
        <p class="col guess">Guess: [guess-username]</p>
    </div>
</div>